<div class="pagination">
  <ul>
    <li>
      <button {{action "prevPage"}}>Previous</button>
    </li>
    <li>
      {{currentPage}}
    </li>
    <li>    
      <button {{action "nextPage"}}>Next</button>
    </li>            
  </ul>
</div>
